body{
background:#0f172a;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:900px;
background:#1e293b;
padding:20px;
border-radius:12px;
}

.url-box{
display:flex;
gap:10px;
margin-bottom:15px;
}

input{
flex:1;
padding:10px;
border-radius:8px;
border:none;
}

button{
background:#6366f1;
border:none;
padding:10px 15px;
border-radius:8px;
color:white;
cursor:pointer;
}

video{
width:100%;
background:black;
border-radius:10px;
}

.controls{
margin-top:15px;
display:flex;
gap:20px;
}

.control{
flex:1;
}

#boostWarning{
color:#ff4d4d;
font-size:12px;
}
